html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description', content='Some description')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
	body

		div.container
			br 
			form(action='' method='POST')
				.form-group
					label ID
					input.form-control(type='text' name='id' placeholder='Your id' value=person.id disabled='')
					label Name
					input.form-control(type='text' name='name' placeholder='Your name' value=person.name required='')
					label Age
					input.form-control(type='number' name='age' placeholder='Your age' value=person.age required='')
					label Movie
					input.form-control(type='text' name='movie' placeholder='Your movie' value=person.movie required='')
					label Email
					input.form-control(type='email' name='email' placeholder='Your email' value=person.email required='')
					label Password
					input.form-control(type='text' name='password' placeholder='Your password' value=person.password required='')
					//- label(for='author_name') Author Name
					//- input#author_name.form-control(type='text' name='author_name' placeholder='Enter author name' value=post.author required='')
					br
					input.btn.btn-success(type='submit' value='UPDATE')

					a.btn.btn-info(href='/person/') Back


