doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
form(action='/login' method='POST')
  table(style='width: 100%;')
    tr
      td
      td(colspan='2' style='padding: 5px 5px 5px 5px; text-align:left;')
        label(style='font-size: 300%; color: green;') LOGIN FORM
    tr
      td
        label Email
      td(colspan='2')
        input(style='width: 45%;' type='text' name='email')
        label(style='padding-left: 5em;')
    tr
      td
        label Password
      td(colspan='2')
        input(style='width: 45%;' type='password' name='password')
        label(style='padding-left: 5em;')
    tr
      td
      td(colspan='2')
        button(type='submit' style='background-color: green; width: 100px; height: 30px; border: green;') SUBMIT
        label(style='padding-left: 5em;')